{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'components/change/heading.html' %}

<div class="col">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h6 class="m-0 p-0">{% trans 'Êtes-vous sûr de votre action ?' %}</h6>
                <small class="text-danger">{% trans 'Cette action n est pas réversible' %}</small>
            </div>
        </div>
        <div class="card-body">
            <form id="form-{{ model_class|getattr:'_meta'|getattr:'model_name' }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for obj in qs %}
                    <dl class="row">
                        {% for field in model_class|getattr:"_meta"|getattr:"fields" %}
                            <dt class="col-sm-3 text-capitalized">{{ field.verbose_name|title }}</dt>
                            <dd class="col-sm-9">{{ obj|getattr:field.name }}</dd>
                        {% endfor %}
                    </dl>
                    {% if not forloop.last %}
                        <hr />
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}