{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}

<div id="widgets-container" class="page-content">
    <h1 class="mb-3">Hi! {{ request.user.employee.full_name }}</h1>
    <div class="row">

        {% for widget in widgets %}
            <div class="widget-item {{ widget.column }}">
                {{ widget.content|safe }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}