{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block content %}
{% include 'components/change/heading.html' %}

<div class="page-content">
    <div class="row">
        <div class="{% if self.get_list_filter %}col-md-9{% else %}col{% endif %} col-sm-12 col-xs-12">
            {% include "components/list_table.html" %}
        </div>
        
        {% if self.get_list_filter %}
            <div class="col-12 col-lg-3">
                {% include "components/list_filter.html" %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}