{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_filters %}

{% block content %}

{% include 'components/change/heading.html' %}

<div class="page-content">
    <section>
        {% for error in obj.metadata.errors %}
            <div class="alert alert-light-warning fw-bold mb-3" role="alert">
                {{ error.message }}
            </div>
        {% endfor %}
    
        <div class="card">
            <div class="card-body">
                <div class="card-title mb-0">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 mb-2">
                            <h3 class="mb-0">{{ payroll_obj.get_status_display|title }}</h3>
                            <small>{% trans 'Status' %}</small>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-2">
                            <h3 class="mb-0">
                                {{ qs.count|intcomma }}
                                <small>
                                    {{  qs.count|pluralize:'fiche de paie' }}
                                </small>
                            </h3>
                            <small>{% trans 'Fiches de paie' %}</small>
                        </div>
                        
                        <div class="col-md-4 col-sm-12 mb-2">
                            <h3 class="mb-0">{{ overall_net|intcomma }}</h3>
                            <small>{% trans 'Net à payer global' %}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    {% include "components/list_table.html" %}
                </div>
                
                {% include "components/list_filter.html" %}
            </div>
        </div>
    </section>
</div>

{% endblock %}