{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_filters %}

{% block content %}

{% include 'components/change/heading.html' %}

<div class="page-content">
    
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" >
    <link ref="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" >

    <section>
        <form method="post" enctype="multipart/form-data" class="page-content" id="form-{{ model_class|getattr:'_meta'|getattr:'model_name' }}">
            {% csrf_token %}
        </form>
        
        <div class="card">
            <div class="card-body">
                <div class="card-title mb-0">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 mb-2">
                            <h3 class="mb-0">{{ payroll_obj.get_status_display|title }}</h3>
                            <small>{% trans 'Status' %}</small>
                        </div>

                        <div class="col-md-4 col-sm-12 mb-2">
                            <h3 class="mb-0">{{ paid_employees_qs.count|intcomma }}</h3>
                            <small>{% trans 'Employee(s)' %}</small>
                        </div>
                        
                        <div class="col-md-4 col-sm-12 mb-2">
                            <h3 class="mb-0">{{ estimation_duration|naturaltime }}</h3>
                            <small>{% trans 'Estimation du temps de calule' %}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>{% trans 'Matricule' %}</th>
                                            <th>{% trans 'Full name' %}</th>
                                            <th>{% trans 'Branch' %}</th>
                                            <th>{% trans 'Grade' %}</th>
                                            <th>{% trans 'Child(ren)' %}</th>
                                            <th>{% trans 'Working days' %}</th>
                                            <th>{% trans 'Attendance' %}</th>
                                        </tr>
                                    </thead>
                
                                    <tbody>
                                        {% for obj in paid_employees_qs %}
                                        <tr data-id="{{ obj.id }}">
                                            <td>{{ obj.registration_number }}</td>
                                            <td>{{ obj.full_name }}</td>
                                            <td>{{ obj.branch }}</td>
                                            <td>{{ obj.grade }}</td>
                                            <td>{{ obj.children }}</td>
                                            <td>23</td>
                                            <td>
                                                <input
                                                    type="number" 
                                                    name="attendance" 
                                                    data-app="payroll"
                                                    data-model="paidemployee"
                                                    data-id="{{ obj.id }}"
                                                    class="form-control attendance-input-field" 
                                                    min="0" step="1" max="{{ obj.working_days_per_month|default:23 }}"
                                                    value="{{ obj.attendance|default:obj.working_days_per_month }}" />
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('table').DataTable({
            paging: false
        });

        $('.attendance-input-field').on('change', function() {
            var id = $(this).data('id');
            var value = $(this).val();
            var url = "{% url 'api:detail' 'payroll' 'paidemployee' 'xyz' %}";
            
            // make sure the value is a valid number
            if (isNaN(value)) return toastr.error('Veuillez entrer un nombre valide');

            $.ajax({
                url: url.replace('xyz', id),
                type: 'PATCH',
                data: {
                    'attendance': value
                },
                success: (data) => toastr.success("L'opération a été effectuée avec succès"),
                error: (error) => toastr.error("Une erreur s'est produite lors de l'opération ")
            });
        });
    });
</script>

{% endblock %}