<div class="card shadow-sm border-0">
    <div class="card-body text-start">
        <h5 class="text-primary">Jours de congé restants: <strong>{{ remaining_leave_days }}</strong></h5>
        <hr>
        <h5 class="text-muted">Demander un congé</h5>
        <form method="GET" action="{% url 'core:create' 'leave' 'leave' %}">
            <input type="hidden" name="employee" value="{{ request.user.employee.pk }}" />
            <div class="mb-3">
                <label for="start_date" class="form-label">Date de début</label>
                <input type="date" class="form-control" id="start_date" name="start_date" required>
            </div>
            <div class="mb-3">
                <label for="end_date" class="form-label">Date de fin</label>
                <input type="date" class="form-control" id="end_date" name="end_date" required>
            </div>
            <div class="mb-3">
                <label for="reason" class="form-label">Motif</label>
                <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Envoyer la demande</button>
        </form>
    </div>
</div>