{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>PayDay</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo/favicon.svg') }}" type="image/x-icon">

    <style>
        body, html {
            font-size: 12px;
            height: 100%;
            margin: 0;
        }
        .full-height {
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                #MainMessage
            </div>
            <div class="col">
                <div class="card m-3">
                    <div class="card-header">
                        <h1>Getting Start</h1>
                    </div>
                    <div class="card-body">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <div class="alert alert-dismissible fade show">
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">{{ message }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}

                        {{ render_form(form) }}

                        {% if organization %}
                            <l-quantum
                                size="128"
                                speed="1.75"
                                color="blue" 
                                ></l-quantum>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/quantum.js"></script>
</body>
</html>
